.navbar-brand {
    color: red;
    font-size: 2rem;
    font-family: fantasy;
    margin-left: 1em;
    margin-right: 2em;
}

.form-control {
   height: 2.3em;
   width: 13em;
   margin-left: 12em;
}

.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    padding: 1em;

}