<!-- 
<div class="row justify-between">
	<div class="col-md-6">
		<h1>My Saved Movies</h1>
		<app-movie-list></app-movie-list>
	</div>
	<div class="col-md-6">
		<app-movie-details></app-movie-details>
	</div>
</div> -->



	<img src="assets/slider1.png" class="img-fluid"  width="1100"   alt="hero-img">






<div class="row justify-between">
	<div>
		<!-- <h1>My Saved Movies</h1> -->
		<h3>My Saved Movies</h3>

		<table class="table table-striped table-hover">
			<thead class="table-dark">
				<tr>
				  <th scope="col">Title</th>
				  <th scope="col">Genre</th>
				  <th scope="col">Date Saved</th>
				  <th scope="col">Status</th>
				  <th scope="col">Rating</th>
				  <th scope="col">Platform</th>
				  <th scope="col">Actions</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">Paw Patrol</th>
				  <td>Comedy</td>
				  <td>10/03/2023</td>
				  <td>Watched</td>
				  <td>PG</td>
				  <td>Netflix</td>
				  <td>Edit Delete</td>
				</tr>

				<tr>
					<th scope="row">Paw Patrol</th>
					<td>Comedy</td>
					<td>10/03/2023</td>
					<td>Watched</td>
					<td>PG</td>
					<td>Netflix</td>
					<td>Edit Delete</td>
				  </tr>

				  <tr>
					<th scope="row">Paw Patrol</th>
					<td>Comedy</td>
					<td>10/03/2023</td>
					<td>Watched</td>
					<td>PG</td>
					<td>Netflix</td>
					<td>Edit Delete</td>
				  </tr>


			  </tbody>
			</table>










		<app-movie-list></app-movie-list>
	</div>
	<app-movie-details></app-movie-details>
	<div class="col-md-6">
		<app-movie-details></app-movie-details>
	</div>
</div>


