<!-- <div class="row">
	<div class="col-md-12">
		<h2>Movie Title</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>Director</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Genre</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Summary</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Release Date</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Duration</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Cast</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Rating</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Country</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Language</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Box Office Revenue</p>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<img src="" alt="" class="img-responsive" />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<small>Tags</small>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-primary">Edit Book</button>
	</div>
</div>
 -->
